/** @format */
@use "./_breakpoints.scss" as *;

// ==== SEARCH BAR: START ====
@mixin searchOption {
  p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
  }
}
// ==== SEARCH BAR: END ====

// ==== MODAL: START ====
@mixin modalHeader {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
// ==== MODAL: END ====

// ==== AUTH: START ====
// ==== AUTH: END ====
