/** @format */

// =============================
// static variables
// =============================
$dark-900: #070605;
$dark-800: #0f0e0b;
$dark-700: #171510;
$dark-600: #2f2c27;
$dark-500: #47443e;
$dark-400: #6b6863;
$dark-300: #8f8c88;
$dark-200: #b3b1ae;
$dark-100: #d6d5d3;

$light-100: #ffffff;
$light-200: #fcfcff;
$light-300: #f8f8ff;
$light-400: #e6e6f0;
$light-500: #d4d4e0;
$light-600: #b1b1bd;
$light-700: #8e8e99;
$light-800: #6b6b75;
$light-900: #474750;

$colors: (
  "dark": (
    900: #070605,
    800: #0f0e0b,
    700: #171510,
    600: #2f2c27,
    500: #47443e,
    400: #6b6863,
    300: #8f8c88,
    200: #b3b1ae,
    100: #d6d5d3,
  ),
  "light": (
    100: #ffffff,
    200: #fcfcff,
    300: #f8f8ff,
    400: #e6e6f0,
    500: #d4d4e0,
    600: #b1b1bd,
    700: #8e8e99,
    800: #6b6b75,
    900: #474750,
  ),
  "error": #bc4545,
  "blue": #3b82f6,
);

// Spacing
$spacing-sm: 0.8rem;
$spacing-md: 1.6rem;
$spacing-lg: 2.4rem;

// =============================
// ĐỘNG: CSS Variables cho Theme
// =============================
:root {
  // Light Mode (Mặc định)
  --bg-body: #{map-get($colors, "light", 200)};
  --bg-card: #{map-get($colors, "light", 100)};
  --text-main: #{map-get($colors, "dark", 900)};
  --text-muted: #{map-get($colors, "dark", 300)};
  --border-color: #{map-get($colors, "dark", 900)};
  --accent-color: #{map-get($colors, "dark", 900)};
  --btn-bg: #{map-get($colors, "dark", 900)};
  --btn-text: #{map-get($colors, "light", 200)};
  --error-color: #{map-get($colors, "error")};
}

[data-theme="dark"] {
  // Dark Mode
  --bg-body: #{map-get($colors, "dark", 900)};
  --bg-card: #{map-get($colors, "dark", 700)};
  --text-main: #{map-get($colors, "light", 100)};
  --text-muted: #{map-get($colors, "light", 600)};
  --border-color: #{map-get($colors, "light", 600)};
  --accent-color: #{map-get($colors, "blue")};
  --btn-bg: #{map-get($colors, "light", 100)};
  --btn-text: #{map-get($colors, "dark", 900)};
  --error-color: #ff6b6b;
}
