/** @format */
@use "sass:map";

// =============================
// static variables
// =============================
$dark-900: #070605;
$dark-800: #0f0e0b;
$dark-700: #171510;
$dark-600: #2f2c27;
$dark-500: #47443e;
$dark-400: #6b6863;
$dark-300: #8f8c88;
$dark-200: #b3b1ae;
$dark-100: #d6d5d3;

$light-100: #ffffff;
$light-200: #fcfcff;
$light-300: #f8f8ff;
$light-400: #e6e6f0;
$light-500: #d4d4e0;
$light-600: #b1b1bd;
$light-700: #8e8e99;
$light-800: #6b6b75;
$light-900: #474750;

$blue-100: #9abce7;
$blue-200: #86afe2;
$blue-300: #72a1dd;
$blue-400: #5d94d8;
$blue-500: #4986d3;
$blue-600: #3579ce;
$blue-700: #306db9;
$blue-800: #2a61a5;
$blue-900: #255590;

$colors: (
  "dark": (
    900: #070605,
    800: #0f0e0b,
    700: #171510,
    600: #2f2c27,
    500: #47443e,
    400: #6b6863,
    300: #8f8c88,
    200: #b3b1ae,
    100: #d6d5d3,
  ),
  "light": (
    100: #ffffff,
    200: #fcfcff,
    300: #f8f8ff,
    400: #e6e6f0,
    500: #d4d4e0,
    600: #b1b1bd,
    700: #8e8e99,
    800: #6b6b75,
    900: #474750,
  ),
  "error": #bc4545,
  "blue": (
    100: #d7e4f5,
    200: #c2d7f0,
    300: #aec9eb,
    400: #9abce7,
    500: #86afe2,
    600: #72a1dd,
    700: #5d94d8,
    800: #4986d3,
    900: #3579ce,
  ),
);

// Spacing
$spacing-sm: 0.8rem;
$spacing-md: 1.6rem;
$spacing-lg: 2.4rem;

// =============================
// ĐỘNG: CSS Variables cho Theme
// =============================
:root {
  // Light Mode (Mặc định)
  --bg-body: #{map.get($colors, "light", 200)};
  --bg-card: #{map.get($colors, "light", 100)};
  --text-main: #{map.get($colors, "dark", 900)};
  --text-muted: #{map.get($colors, "dark", 300)};
  --border-color: #{map.get($colors, "light", 500)};
  --accent-color: #{map.get($colors, "blue", 800)};
  --blue-bg: #{map.get($colors, "blue", 100)};
  --btn-bg-primary: #{map.get($colors, "dark", 900)};
  --btn-text-primary: #{map.get($colors, "light", 200)};
  --btn-text: #{map.get($colors, "light", 200)};
  --shadow-dark: #{map.get($colors, "dark", 100)};
  --shadow-light: #{map.get($colors, "light", 500)};
  --error-color: #{map.get($colors, "error")};
}

[data-theme="dark"] {
  // Dark Mode
  --bg-body: #{map.get($colors, "dark", 900)};
  --bg-card: #{map.get($colors, "dark", 700)};
  --text-main: #{map.get($colors, "light", 100)};
  --text-muted: #{map.get($colors, "light", 600)};
  --border-color: #{map.get($colors, "light", 500)};
  --accent-color: #{map.get($colors, "blue", 500)};
  --blue-bg: #{map.get($colors, "blue", 300)};
  --btn-bg-primary: #{map.get($colors, "light", 100)};
  --btn-text-primary: #{map.get($colors, "dark", 900)};
  --btn-text: #{map.get($colors, "dark", 900)};
  --shadow-dark: #{map.get($colors, "dark", 500)};
  --shadow-light: #{map.get($colors, "dark", 600)};
  --error-color: #ff6b6b;
}
