/** @format */

.modalContainer {
  background-color: var(--bg-body) !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;

  border-top: 1.5px solid var(--border-color);

  padding: 0 2rem;
  padding-top: 1.8rem;
}

.cmtFormCotainer {
  padding: 0 2rem;
}

.cmts {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding: 0 2rem;
}
