/** @format */
@use "../../../styles/_mixins.scss" as *;

.cmtForm {
  @include commentFormLayout();
  margin: 0;
}

.notLoginMgs {
  font-size: 1.6rem;
  margin-bottom: 3rem;

  img {
    width: 3rem;
  }
}

@include respond(lg) {
  .cmtFormCotainer {
    margin: 1rem 0;
  }
}
