/** @format */
@use "../../../styles/_mixins.scss" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0; // 10px
}

.icon {
  @include iconGrayBg;
}

.actions {
  display: flex;
  gap: 1.5rem;
}
