/** @format */
@use "../../../styles/_mixins.scss" as *;

.popBtn {
  @include popBtn;
}

.popContent {
  @include popContent;
}

.popItem {
  @include popItem;
}

.icon {
  @include icon;
}

.modal {
  width: 50rem;

  strong {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.modalFooter {
  @include footer;

  button {
    width: 7rem;
    height: 4rem;
  }
}
