/** @format */

// ===== MOBILE DEFAULT (<768px) =====
// hide desktop navbar
.navDesktop {
  display: none;
}

.navContainer {
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  img {
    width: 12rem;
  }
}

.avatarImg {
  width: 5rem;
  height: 5rem;
  border-radius: 999px;
}

.themeToggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5rem;
  height: 5rem;
  border-radius: 999px; //  (pill)
  border: 1.5px solid var(--border-color);
  background-color: var(--bg-body);
  cursor: pointer;
  outline: none;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    height: 2.6rem;
    font-size: 20px;
    z-index: 2;
    transition:
      color 0.3s ease,
      opacity 0.3s ease;
  }

  // LIGHT MODE:
  &.light {
    .sunIcon {
      color: var(--text-main);
      opacity: 1;
    }

    .moonIcon {
      color: var(--text-muted);
      opacity: 0.5;
    }
  }

  //  DARK MODE:
  &.dark {
    .sunIcon {
      color: var(--text-muted);
      opacity: 0.5;
    }

    .moonIcon {
      color: var(--text-main);
      opacity: 1;
    }
  }
}

.logoutBtn > div {
  width: 5rem;
  height: 5rem;
  border-radius: 999px; //  (pill)
  border: 1.5px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  width: 3.6rem;
  height: 2.8rem;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--text-main);
    transition: all 0.3s ease;
  }

  &.open {
    span:nth-child(1) {
      transform: translateY(1.2rem) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-1.2rem) rotate(-45deg);
    }
  }
}

.navBar {
  position: relative;
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-size: 1.6rem;

  button,
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    font-size: 2.5rem;
    color: var(--bg-contrast);
  }

  > * {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.showBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  background-color: var(--bg-body);
  border-bottom: 1px var(--border-color) solid;
}

.collapsed {
  gap: 2rem;
  align-items: center;
  padding: 2rem 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  opacity: 0;
  top: -100%;
  pointer-events: none;
  transition: all 0.3s;
  font-weight: 500;
  font-size: 1.6rem;
  background-color: var(--bg-body);
  border-bottom: 1.5px solid var(--border-color);

  .linkItemActive {
    text-decoration: underline;
  }

  &.expand {
    opacity: 1;
    top: 100%;
    pointer-events: all;
  }
}
// ===== MOBILE DEFAULT =====

// ===== TABLET AND DESKTOP =====
@include respond(md) {
  .navMobile {
    display: none;
  }

  .navDesktop {
    display: block;
  }

  .logo {
    display: flex;

    img {
      width: 10rem;
    }
  }

  .avatarImg,
  .themeToggle,
  .logoutBtn > div {
    width: 4rem;
    height: 4rem;
  }

  .navBar {
    justify-content: space-between;
    // padding: 1rem 2rem;
  }

  .navItems {
    flex-direction: row;
    font-size: 1.8rem;
    font-weight: 500;
    gap: 2rem;

    > * {
      .navLinkItemText {
        display: none;
      }
    }
  }
}
// ===== TABLET AND DESKTOP =====
