/** @format */
@use "../../../styles/_mixins.scss" as *;

// ===== MOBILE DEFAULT (<480px) ====
.container {
  flex: 1;
  margin-top: 2rem;
  margin: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 500;

  .viewToggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button {
      border: 1px solid var(--border-color);
      display: flex;
      align-items: center;
      font-size: 2rem;
      padding: 0.4rem;
      border-radius: 5px;
      color: var(--text-muted);

      &.active {
        background-color: var(--accent-color);
        color: var(--bg-body);
      }
    }
  }
}

.blogsContainer {
  @include responsiveBlogLayout;
}

// ===== DESKTOP (>=1024px) ====
@include respond(lg) {
  .container {
    border-left: 1px solid var(--border-color);
    padding-left: 1rem;
    padding-top: 2rem;
  }

  .blogsContainer {
    &.listMode {
      grid-template-columns: 1fr 1fr;
    }
  }
}
