/** @format */

.homepageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  @include respond(lg) {
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
  }
}
