/** @format */

.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include respond(lg) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.test {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
