/** @format */
@use "../../styles/_mixins.scss" as *;

.container {
  .profileActions {
    @include profileActions;

    display: flex;
    gap: 1rem;
  }

  .tabHeader {
    @include tabBtns;
  }

  .tabContent {
    padding: 2rem;
  }
}
