/** @format */
@use "../../../styles/_mixins.scss" as *;

.cmtForm {
  margin: 2rem 0;

  @include commentFormLayout();
}

.notLoginMgs {
  font-size: 1.6rem;
  margin-bottom: 3rem;

  img {
    width: 3rem;
  }
}

.mentionList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding-left: 4rem;
  font-size: 1.4rem;
}

@include respond(lg) {
  .cmtFormCotainer {
    margin: 1rem 0;
  }
}
