/** @format */

.wrapper {
  display: flex;
  align-items: center;
  gap: 2rem; // 16px
  padding: 1.25rem 0; // 10px

  .author {
    display: flex;
    align-items: center;
    gap: 1rem; // 8px

    img {
      width: 4rem; // 32px
      height: 4rem;
      border-radius: 50%;
    }

    .name {
      font-size: 1.75rem; // ~14px
    }
  }

  .actions {
    margin-left: auto;
    display: flex;
    gap: 1.5rem;

    .icon {
      width: 4.5rem; // 36px
      height: 4.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.25rem;
      background-color: $dark-100;
    }
  }

  .votes {
    background-color: $dark-100;
    display: flex;
    padding: 0 0.4rem;
    border-radius: 999px;
  }
}
