/** @format */

// --------- cmt item -----------
.avatar {
  width: 4rem;
  border-radius: 999px;
}

.cmtMinimize {
  background-color: $dark-100;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;

  p {
    font-size: 1.4rem;
    font-weight: 500;
  }

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.header {
  display: flex;
  gap: 4rem;
  align-items: center;
  border-bottom: 1px var(--border-color) solid;
  padding: 1.6rem 0;

  p {
    font-size: 2.6rem;
    font-weight: 700;
  }
}

.cmtContainer {
  padding: 0 2rem;
}

.cmts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 1rem;
}

.cmtItemContainer {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.cmt {
  flex: 1;
}

.cmtTxt {
  flex: 1;
}

.cmtItemHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cmtContent {
  font-size: 1.6rem;
  margin: 0.8rem 0 1.4rem;
  max-height: 10rem;
  overflow: hidden;
  font-weight: 500;

  &.expand {
    max-height: fit-content;
  }
}

.seeMoreBtn {
  font-weight: 600;
}

.cmtActions {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--text-muted);

  span {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
}

.showHideBtn {
  display: flex;
  gap: 4rem;
}

// ------- cmt form -------
.cmtForm,
.notLoginMgs {
  padding: 2rem 0;
  font-size: 1.6rem;
  margin-bottom: 2rem;

  img {
    width: 3rem;
  }
}

.formInput {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sendCmtBtn {
  font-size: 2rem;
}
