/** @format */

// ===== MOBILE DEFAULT (<480px) ====
.blogList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  flex: 1;
  margin-top: 2rem;
}

.blogCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.blogImg {
  width: 90%;
  height: auto;
}

.blogTxt {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 85%;
}

.title {
  font-size: 2.8rem;
  font-weight: 600;
}

.preview {
  font-size: 1.4rem;
}

.borderMobile {
  height: 1px;
  width: 90%;
  background-color: $light-600;
}

// ===== TABLET (>=768px) ====
@include respond(md) {
  .blogList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: self-start;
    margin: 2rem 1rem;
  }

  .borderMobile {
    display: none;
  }

  .blogCard {
    border: 1px solid $dark-900;
    padding: 1rem;
    height: 100%;
  }

  .blogImg {
    width: 100%;
  }

  .blogTxt {
    width: 95%;
    flex: 1;
  }

  .blogTxt > :last-child {
    margin-top: auto;
  }
}

// ===== DESKTOP (>=1024px) ====
@include respond(lg) {
  .blogList {
    grid-template-columns: repeat(3, 1fr);
  }
}
