/** @format */

.container {
  padding: 2rem;
}

.title {
  font-family: "Forum", serif;
  font-size: 4rem;
  font-weight: 100;
  margin: 1.4rem 0 2.6rem;
}

// ---- blog content styles ----
.blogContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
}

.sectionTitle {
  font-weight: 500;
  font-size: 2.6rem;
}

.sectionHeader {
  font-weight: 500;
  font-size: 2rem;
}

.highlight {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
  margin: 1rem 0;
  font-style: italic;
  text-decoration: underline;
}

.meta {
  font-size: 1.4rem;
  color: $light-800;
}
// ---- blog content styles ----

// ---- category ----
.categoriesContainer {
  margin-top: 2rem;
  border-top: 2px solid $light-600;
  padding-top: 1rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.category {
  text-align: center;
  padding: 0.5rem;
}
// ---- category ----
