/** @format */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  font-size: 12rem;
  color: $light-800;
}

.message {
  font-size: 2.4rem;
}
