/** @format */

.search-title {
  background-color: $blue-100;
  border-radius: 999px;
  border: 1.6px $dark-900 solid;
  padding: 0.4rem 1.4rem;
  width: 25rem;
  display: flex;
  gap: 1rem;

  input {
    border: none;
    background-color: transparent;
    width: 23rem;
    height: 2.6rem;
  }
}
