/** @format */

// ===== MOBILE DEFAULT =====
.searchSidebar {
  display: none; // hide desktop sidebar in mobile
}

.searchMobileToggle {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light-200;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.searchForm {
  background-color: $light-200;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  border: 1px $dark-900 solid;
}

.searchOption {
  display: flex;
  align-items: end;
  gap: 2rem;
}

.filterOption {
  display: flex;
  gap: 4rem;
  align-items: end;
  flex: 1;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  max-height: 45vh;
  overflow-y: scroll;
  row-gap: 0.5rem;
  column-gap: 2rem;
}

.chips {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 8rem;
  overflow-y: scroll;
}

.chip {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  font-size: 1.2rem;
}

.removeBtn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

.loadMoreBtn {
  position: sticky;
  bottom: 0;
  grid-column: span 2;
  background-image: linear-gradient(to top, $light-200, #ffffff7a);
  text-align: center;
  padding: 1rem;
}

.formBtns {
  display: flex;
  justify-content: space-between;

  .searchFormActions {
    display: flex;
    gap: 1rem;
  }

  button {
    padding: 0.8rem 1.5rem;
  }
}

/* ===== TABLET ===== */
.searchForm {
  max-width: 75vw;
}

@include respond(md) {
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }

  .loadMoreBtn {
    grid-column: span 3;
  }

  .chips {
    max-height: 5rem;
  }
}

/* ===== DESKTOP ===== */
@include respond(lg) {
  .searchMobileToggle {
    display: none;
  }

  .searchSidebar {
    display: block;
    position: sticky;
    top: 6rem;
    height: fit-content;
    background: $light-200;
    border-right: 1px solid $dark-200;
    overflow: hidden;
    transition: width 0.3s ease;
  }

  /* trạng thái */
  .collapsed {
    width: 6rem;
    padding: 1rem 1rem 0;
  }

  .expanded {
    width: max-content;
    min-width: 34rem;
    padding: 1rem 1rem 0;
  }

  .collapseBtn {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light-300;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .searchModal {
    display: none;
  }

  .searchForm {
    border: none;
    padding: 0;
    width: 35rem;
  }

  .searchOption {
    gap: 1rem;
  }

  .filterOption {
    gap: 2rem;
  }

  .categories {
    grid-template-columns: 1fr 1fr;
    max-height: 40vh;
  }

  .loadMoreBtn {
    grid-column: span 2;
  }
}
