/** @format */
@use "../../../styles/_mixins.scss" as *;

.sortOption {
  @include formField;
  display: flex;
  justify-content: space-between;

  margin-bottom: 2rem;

  label {
    margin-right: 1rem;
  }

  @include respond(sm-xl) {
    justify-content: unset;
    gap: 5rem;
  }
}

.blogsContainer {
  @include responsiveBlogLayout;
  grid-template-columns: 1fr, 1fr;

  @include respond(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
